<!DOCTYPE CSS>


    div.testing{
        text-align: center;
        color: red;
        } 

    div.asdfg{
        text-align: center;
        color: red;
      } 

     div.pghc{
        text-align: center; 
        color: blue;
     } 

     div.indexheader{
        text-align: center; 
        
   